<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Users</title>
  <link rel="stylesheet" href="../public/style.css">
</head>
<body>
  <h1>Users</h1>
  <form action="/user" method="POST">
    <input type="text" name="name" id="" placeholder="name"><br/>
    <input type="email" name="email" id="" placeholder="email"><br/>
    <input type="text" name="password" id="" placeholder="password"><br/>
    <button>Submit</button>
  </form>
</body>
</html>